@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  box-shadow: black 20px 10px 50px;
}

h1 {
  font-family: "Press Start 2P", cursive;
}
